@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  a {
    @apply font-IBM;
  }
  p {
    @apply font-PLUS;
  }
  body {
    @apply bg-[#f2f5f5] text-[1em];
  }
}

@layer components {
  .main-container {
    @apply max-w-[1440px] px-6  mx-auto lg:px-10;
  }
  .heading {
    @apply text-[1.5em] text-center lg:text-left md:text-[3em] leading-[110%] text-[#44414C] font-IBM font-medium tracking-tighter;
  }
  .sub-heading {
    @apply font-PLUS text-center lg:text-left text-[#6F6781] leading-[150%] font-medium text-[0.875em] md:text-[1em];
  }
  .text-small {
    @apply text-[0.813em] font-PLUS font-normal block text-center md:text-left leading-[150%] text-[#6F6781];
  }
  .btn-primary {
    @apply border-2 text-[1em] transform w-full md:w-auto  hover:bg-skin-pink hover:text-white  transition duration-500 ease-in-out border-skin-pink bg-white font-IBM font-medium px-4 py-2 text-skin-pink;
  }
  .btn-secondary {
    @apply border-2 block md:mx-auto lg:mx-0 transform text-white  hover:bg-white hover:text-skin-pink w-auto transition duration-500 ease-in-out border-skin-pink bg-skin-pink font-IBM font-medium px-4 py-2;
  }
  .text-large {
    @apply text-[1.5em] text-[#fff] font-IBM font-medium text-center tracking-tight md:text-[2.5em] lg:text-[3.5em];
  }
  .text-medium {
    @apply text-[0.875em] text-[#fff] md:text-[1em] lg:text-[1.2em] font-PLUS font-normal leading-[150%] text-center md:text-left;
  }
  .mobile_menu {
    @apply flex justify-between w-;
    background: linear-gradient(
      236.68deg,
      #ffffff -2.71%,
      rgba(255, 255, 255, 0) 44.44%
    );
  }

  #launchpad {
    background: linear-gradient(90deg, #291e40 0%, #362064 100%);
  }
  #join_us {
    background: linear-gradient(90deg, #291e40 0%, #362064 100%);
  }
}
@layer utilities {
  .card-shadow {
    box-shadow: 0px 2.12866px 10.0172px rgba(22, 6, 172, 0.02),
      0px 1.13052px 5.32008px rgba(22, 6, 172, 0.0161557),
      0px 0.470434px 2.21381px rgba(22, 6, 172, 0.0112458);
  }
}
