@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  a {
    @apply font-IBM;
  }
  p {
    @apply font-PLUS;
  }
  body {
    @apply bg-[#f2f5f5] text-[1em];
  }
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .main-container {
    @apply max-w-[1440px] px-6  mx-auto lg:px-10;
  }
  .heading {
    @apply text-[1.5em] text-center lg:text-left md:text-[2.7em] leading-[110%] text-[#44414C] font-IBM font-medium tracking-tighter;
  }
  .sub-heading {
    @apply font-PLUS text-center lg:text-left text-[#6F6781] leading-[150%] font-medium text-[0.875em] md:text-[1em];
  }
  .text-small {
    @apply text-[1.1em] font-PLUS font-normal block text-center md:text-left leading-[150%] text-[#6F6781];
  }

  .btn-primary {
    @apply border-2 min-h-[54px] text-[1em] transform w-full md:w-auto  hover:bg-skin-pink hover:text-white  transition duration-700 ease-in-out border-skin-pink bg-white font-IBM font-medium px-4 py-3 text-skin-pink;
  }
  .btn-secondary {
    @apply border-2 block min-h-[54px] md:mx-auto lg:mx-0 transform text-white hover:border-[#FC80FF] hover:bg-[#fafafa] hover:text-[#FC80FF] w-auto transition duration-700  ease-in-out border-skin-pink bg-skin-pink font-IBM font-medium px-4 py-3;
  }
  .text-large {
    @apply text-[1.5em] text-[#FFFFFF] font-IBM font-medium text-center tracking-tight md:text-[2.5em] lg:text-[3.5em];
  }
  .text-medium {
    @apply text-[0.875em] text-[#FFFFFF] md:text-[1em] lg:text-[20px] font-PLUS  leading-[150%] text-center font-medium md:text-left;
  }
  .mobile_menu {
    @apply flex justify-between w-;
    background: linear-gradient(
      236.68deg,
      #ffffff -2.71%,
      rgba(255, 255, 255, 0) 44.44%
    );
  }

  #interoperability {
    background: linear-gradient(90deg, #291e40 0%, #362064 100%);
  }
  #join_us {
    background: linear-gradient(90deg, #291e40 0%, #362064 100%);
  }
  .card_3 {
    background: linear-gradient(180deg, #f2f5f5 0%, #f9fafa 100%);
    /* small shadow */

    box-shadow: 0px 2.12866px 10.0172px rgba(22, 6, 172, 0.02),
      0px 1.13052px 5.32008px rgba(22, 6, 172, 0.0161557),
      0px 0.470434px 2.21381px rgba(22, 6, 172, 0.0112458);
  }
  #innovate {
    background: linear-gradient(
      236.68deg,
      #ffffff -2.71%,
      rgba(255, 255, 255, 0) 44.44%
    );
  }
  .social_link {
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 76%,
      48% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 76%, 48% 100%, 0% 75%, 0% 25%);
    @apply bg-white w-[70px] hover:text-white h-[75px];

    box-shadow: 0px 1.19737px 5.6347px rgba(22, 6, 172, 0.02),
      0px 0.635916px 2.99255px rgba(22, 6, 172, 0.0161557),
      0px 0.264619px 1.24527px rgba(22, 6, 172, 0.0112458);
  }
  .social_link:hover {
    background: linear-gradient(341.87deg, #50e6fe 10.77%, #733bff 99.87%);
  }
}
@layer utilities {
  .card-shadow {
    box-shadow: 0px 2.12866px 10.0172px rgba(22, 6, 172, 0.02),
      0px 1.13052px 5.32008px rgba(22, 6, 172, 0.0161557),
      0px 0.470434px 2.21381px rgba(22, 6, 172, 0.0112458);
  }

  .card_shadow_sm {
    background: linear-gradient(
      -285.68deg,
      #ffffff -2.71%,
      rgba(255, 255, 255, 0) 44.44%
    );
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  }
  .card_shadow_md {
    background: linear-gradient(
      236.68deg,
      #ffffff -2.71%,
      rgba(255, 255, 255, 0) 44.44%
    );
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  }
  .hover_link {
    background: linear-gradient(341.87deg, #50e6fe 10.77%, #733bff 99.87%),
      #ffffff;
    box-shadow: 0px 1.19737px 5.6347px rgba(22, 6, 172, 0.02),
      0px 0.635916px 2.99255px rgba(22, 6, 172, 0.0161557),
      0px 0.264619px 1.24527px rgba(22, 6, 172, 0.0112458);
  }
  .clip {
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    width: 61px;
    height: 72px;
    background: #ffffff;
    box-shadow: 0px 1.19737px 5.6347px rgba(22, 6, 172, 0.02),
      0px 0.635916px 2.99255px rgba(22, 6, 172, 0.0161557),
      0px 0.264619px 1.24527px rgba(22, 6, 172, 0.0112458);
  }
  .icon_bg {
    background: linear-gradient(341.87deg, #50e6fe 10.77%, #733bff 99.87%);
  }
  .tarif {
    --tw-text-opacity: 1;
    color: linear-gradient(341.87deg, #50e6fe 10.77%, #733bff 99.87%);
  }
  .shadow_card {
    background: linear-gradient(180deg, #f2f5f5 0%, #f9fafa 100%);
    /* small shadow */

    /* box-shadow: 0px 2.12866px 10.0172px rgba(22, 6, 172, 0.02),
      0px 0.470434px 2.21381px rgba(22, 6, 172, 0.0112458); */
  }
}
.my-svg {
  transition: all 0.3s ease-in-out;
}
.my-svg:hover path:first-child {
  fill: blue;
}
.my-svg:hover path:last-child {
  fill: white;
}
